<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staff.staffapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".faq.Nursing"
            android:label="Home Nursing Services">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Labs"
            android:label="Labs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Radiology"
            android:label="Radiology">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Physiotherapy"
            android:label="Physiotherapy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Pharmacies"
            android:label="Pharmacies">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Ambulance"
            android:label="Ambulance and Air Evacuations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Overseas"
            android:label="Overseas Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.North"
            android:label="North Eastern Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Central"
            android:label="Central Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Eastern"
            android:label="Eastern Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Nyanza"
            android:label="Rift, Western/Nyanza Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Coast"
            android:label="Coast Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Nairobi"
            android:label="Nairobi Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.Medical" />
        </activity>
        <activity android:name=".faq.Panel" />
        <activity
            android:name=".faq.Medical"
            android:theme="@style/LeaveTheme"
            android:label="Medical Specialists">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Emergency"
            android:label="Emergency Contacts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Leave"
            android:theme="@style/LeaveTheme"
            android:label="Leave Days">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Jobs"
            android:theme="@style/LeaveTheme"
            android:label="Jobs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Ethics"
            android:label="Ethics HotLine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Contacts"
            android:label="Staff Contact Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".ui.FAQ"
            android:theme="@style/FaqTheme"
            android:label="Frequently Asked Questions"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.MainActivity" />
        <activity android:name=".faq.PersonalProductsActivity"
            android:theme="@style/ProductsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".faq.ProductsActivity" />
        </activity>
        <activity
            android:theme="@style/ProductsTheme"
            android:name=".faq.ProductsActivity" >
        </activity>
        <activity android:name=".faq.BusinessProductsActivity"
            android:theme="@style/ProductsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".faq.ProductsActivity" />
        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>