<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staff.staffapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FAQ.Nursing"
            android:label="Home Nursing Services">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Labs"
            android:label="Labs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Radiology"
            android:label="Radiology">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Physiotherapy"
            android:label="Physiotherapy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Pharmacies"
            android:label="Pharmacies">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Ambulance"
            android:label="Ambulance and Air Evacuations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Overseas"
            android:label="Overseas Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.North"
            android:label="North Eastern Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Central"
            android:label="Central Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Eastern"
            android:label="Eastern Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Nyanza"
            android:label="Rift, Western/Nyanza Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Coast"
            android:label="Coast Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Nairobi"
            android:label="Nairobi Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.Medical" />
        </activity>
        <activity android:name=".FAQ.Panel" />
        <activity
            android:name=".FAQ.Medical"
            android:theme="@style/LeaveTheme"
            android:label="Medical Specialists">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.FAQ" />
        </activity>
        <activity
            android:name=".FAQ.Emergency"
            android:label="Emergency Contacts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.FAQ" />
        </activity>
        <activity
            android:name=".FAQ.Leave"
            android:theme="@style/LeaveTheme"
            android:label="Leave Days">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.FAQ" />
        </activity>
        <activity
            android:name=".FAQ.Jobs"
            android:theme="@style/LeaveTheme"
            android:label="Jobs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.FAQ" />
        </activity>
        <activity
            android:name=".FAQ.Ethics"
            android:label="Ethics HotLine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.FAQ" />
        </activity>
        <activity
            android:name=".FAQ.Contacts"
            android:label="Staff Contact Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.FAQ.FAQ" />
        </activity>
        <activity
            android:name=".FAQ.FAQ"
            android:theme="@style/FaqTheme"
            android:label="Frequently Asked Questions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>