<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.staff.staffapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/staffapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".faq.Radiotherapist"></activity>
        <activity android:name=".faq.Rhematology" />
        <activity android:name=".faq.Urology" />
        <activity android:name=".faq.Psychiatrist" />
        <activity android:name=".faq.Paeditrician" />
        <activity android:name=".faq.Orthopedic" />
        <activity android:name=".faq.Opthalmologist" />
        <activity android:name=".faq.Oncology" />
        <activity android:name=".faq.Nephrology" />
        <activity android:name=".faq.Neurologist" />
        <activity android:name=".faq.Haematologist" />
        <activity android:name=".faq.GP" />
        <activity android:name=".faq.GeneralSurgeon" />
        <activity android:name=".faq.Gastro" />
        <activity android:name=".faq.Gaenacologist" />
        <activity android:name=".faq.Facial" />
        <activity android:name=".faq.ENT" />
        <activity android:name=".faq.Endocrinology" />
        <activity android:name=".faq.Dermatologist" />
        <activity android:name=".faq.Dentist" />
        <activity android:name=".faq.Counselling" />
        <activity android:name=".faq.Chest" />
        <activity android:name=".faq.Cardiologist" />
        <activity
            android:name=".faq.MedicalProviders"
            android:label="Medical Providers"
            android:theme="@style/LeaveTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Nursing"
            android:label="Home Nursing Services">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Labs"
            android:label="Labs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Radiology"
            android:label="Radiology">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Physiotherapy"
            android:label="Physiotherapy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Pharmacies"
            android:label="Pharmacies">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Ambulance"
            android:label="Ambulance and Air Evacuations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Overseas"
            android:label="Overseas Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.North"
            android:label="North Eastern Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Central"
            android:label="Central Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Eastern"
            android:label="Eastern Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Nyanza"
            android:label="Rift, Western/Nyanza Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Coast"
            android:label="Coast Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity
            android:name=".faq.Nairobi"
            android:label="Nairobi Providers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.faq.MedicalProviders" />
        </activity>
        <activity android:name=".faq.Panel" />
        <activity
            android:name=".faq.Medical"
            android:label="Medical Specialists"
            android:theme="@style/LeaveTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Emergency"
            android:label="Emergency Contacts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Leave"
            android:label="Leave Days"
            android:theme="@style/LeaveTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Jobs"
            android:label="Jobs"
            android:theme="@style/LeaveTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Ethics"
            android:label="Ethics HotLine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".faq.Contacts"
            android:label="Staff Contact Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.staff.staffapp.ui.FAQ" />
        </activity>
        <activity
            android:name=".ui.FAQ"
            android:label="Frequently Asked Questions"
            android:theme="@style/FaqTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.staff.staffapp.ui.MainActivity" />

        <activity
            android:name=".faq.PersonalProductsActivity"
            android:theme="@style/ProductsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".faq.ProductsActivity" />
        </activity>
        <activity
            android:name=".faq.ProductsActivity"
            android:theme="@style/ProductsTheme" />
        <activity
            android:name=".faq.BusinessProductsActivity"
            android:theme="@style/ProductsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".faq.ProductsActivity" />
        </activity>
        <activity
            android:name=".ui.NewsActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.DepartmentNewsActivity"
            android:parentActivityName=".ui.NewsActivity" />
        <activity android:name=".school.CommunicationActivity" />
        <activity android:name=".school.FinanceActivity" />
        <activity android:name=".school.ManagementActivity" />
        <activity
            android:name=".school.MarketingActivity"
            android:label="@string/title_activity_marketing"
            android:theme="@style/NoActionBar" />
        <activity android:name=".school.ItilActivity" />
        <activity android:name=".school.AgileActivity" />
        <activity android:name=".school.DevActivity" />
        <activity android:name=".school.CyberSecActivity" />
        <activity android:name=".school.DataScienceActivity" />
        <activity android:name=".school.DetailActivity" />
        <activity android:name=".school.BusinessSchool" />
        <activity
            android:name=".ui.ProductLandingActivity"
            android:theme="@style/ProductsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NewsDetailsActivity"
            android:parentActivityName=".ui.NewsActivity" />
    </application>

</manifest>